:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background: var(--light-grayish-blue);
}

h1 {
  color: rgb(82 88 100);
  font-weight: 700;
  font-size: 16.4px;
  /* line-height: 1.38; */
  line-height: 1.445;
}

h2 {
  color: var(--very-dark-grayish-blue);
  font-weight: 700;
  font-size: 13px;
}

p {
  color: var(--desaturated-dark-blue);
  font-weight: 500;
  font-size: 13px;
}

button {
  border: none;
  background: transparent;
}

main {
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.share-button {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  max-width: 730px;
  margin: 0 23.5px;
  background: #fff;
  border-radius: 9px;
  box-shadow: 0 7px 30px hsla(212, 23%, 69%, 0.363);
  overflow: hidden;
}

.card__image {
  width: 100%;
  height: 200px;
  background: center 30% / cover no-repeat url("../assets/img/drawers.jpg");
}

.card__content {
  padding: 38px 29.5px 18px;
  position: relative;
}

.card__content__title {
  margin-bottom: 14px;
}

.card__content__text {
  margin-bottom: 29px;
  padding-right: 13px;
}

.card__content__user {
  display: flex;
  align-items: center;
}

.card__content__user__info {
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.card__content__user > img {
  border-radius: 50%;
  margin-right: 12px;
}

.card__content__user button {
  background: var(--light-grayish-blue);
}

.card__content__user__info time {
  font-size: 12px;
  color: var(--grayish-blue);
}

.card__content__share {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 64px;
  width: 100%;
  padding: 0 30px;
  background: var(--very-dark-grayish-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  z-index: -10;
}

.card__content__share span {
  display: none;
}

.share {
  z-index: 10;
}

.card__content__share__social-media-links {
  margin-right: auto;
  display: flex;
  gap: 12px;
}

.card__content__share p {
  font-size: 12px;
  letter-spacing: 6px;
  color: var(--grayish-blue);
}

.card__content__share button {
  background: var(--desaturated-dark-blue);
}

.card__content__share__button path {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .card__content__title {
    font-size: 19.6px;
    margin-bottom: 12px;
  }

  .card {
    display: flex;
    overflow: initial;
  }

  .card__image {
    height: 280px;
    background-position: left top;
    flex-basis: 287px;
    border-top-left-radius: 9px;
    border-bottom-left-radius: 9px;
  }

  .card__content {
    flex-basis: 443px;
    padding: 36px 37px 30px;
    display: flex;
    flex-direction: column;
  }

  .card__content__text {
    margin-bottom: auto;
  }

  .card__content__share {
    top: 8.2rem;
    left: 16.6rem;
    height: 54px;
    width: 247px;
    padding: 16px 36px;
    border-radius: 7px;
    gap: 17px;
    opacity: 0;
    box-shadow: 0 0 10px var(--grayish-blue);
  }

  .share {
    opacity: 1;
  }

  .card__content__share__button {
    display: none;
  }

  .card__content__share__social-media-links {
    margin-right: 0;
  }

  .card__content__share span {
    display: block;
    position: absolute;
    top: 50px;
    width: 0;
    height: 0;
    border-right: 17px solid transparent;
    border-top: 18px solid var(--very-dark-grayish-blue);
    border-left: 17px solid transparent;
  }
}
